python-dotenv
pandas
numpy
pymongo[srv]>=4.0.0
certifi
scikit-learn
matplotlib
seaborn
scipy
pyyaml
mlflow
xgboost
imbalanced-learn
dagshub
fastapi
email-validator>=2.0
uvicorn
cloudpickle
joblib
#-e .